body {
  background-image: url('https://media3.giphy.com/media/H54wGN3OwD8Wc/giphy.gif?cid=ecf05e47ofu84u3u2qleqfkwrw9gy2xa92tw8q24wc8w38dv&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;

  font-size: 30px;
  color: rgb(165, 2, 2);
  font-family: 'Eater', cursive;
  text-align: center;
  vertical-align: middle;
  background-color: #3a0101;
}

.pic {
  vertical-align: middle;
}

button {
  background-color: rgb(0, 0, 0);
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: 'eater';
  font-size: 20px;
  text-decoration: none;
  border: none;
}
button:hover {
  border: none;
  background: rgb(83, 78, 68);
  box-shadow: 0px 0px 1px #777;
}

footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  position: relative;
}
